In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from hat_game.util.util import Game

2020-04-30 16:06:47,548 hat_game     DEBUG    import hat game util

In [14]:
player_team_dic = {
    'diego':'a',
    'sara':'b'
}

2020-05-01 18:20:22,451 hat_game     DEBUG    import hat game util

In [23]:
g = Game(
    game_name='test10', 
    password='PASS', 
    admin_mode = True,
    root_game_folder='../',
    player_team_dic = player_team_dic,
    drop_db_if_exist=True
)

2020-05-01 18:26:49,929 hat_game     DEBUG    import hat game util
2020-05-01 18:26:50,251 hat_game     DEBUG
        insert into teams
        (team)
        values ('a')

2020-05-01 18:26:50,253 hat_game     DEBUG
        insert into teams
        (team)
        values ('b')

In [26]:
g.database.get_teams_df()

2020-05-01 19:07:54,126 hat_game     DEBUG    import hat game util

  team
0    a
1    b

In [27]:
g.database.get_player_team_df()

       team
player
diego     a
sara      b

In [28]:
g.generate_player_nb('sara')